<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mybatis日志 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 配置数据源,交给spring去做 -->
    <typeAliases>
        <package name="com.bao.pojo"/>
    </typeAliases>

    <!-- 将Mapper文件绑定到数据库配置中 -->
    <mappers>
        <mapper class="com.bao.dao.BookMapper"/>
    </mappers>

</configuration>
